<%- layout("./layouts/boilerplate.ejs") %>
<body>
    <h1>All Listings</h1>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for (let arrs of arr){ %>
        <div class="card col">
            <a href="/listing/<%=arrs.id%>">
            <img src="<%=arrs.image.url%>"  style="height: 20rem;" class="card-img-top" alt="Nothing">
            <div class="card-img-overlay">new image
            </div>
            <div class="card-body">
              <p class="card-text">            
               <b> <%= arrs.title%></b><br>
                &#x20B9;<%= arrs.price.toLocaleString();%>night<br></p>
            </div>
        </a>
          </div>
          <%}%>
        </div>
</body>
