<% layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="offset-2">
        <h1>Listing Details:</h1>
        <div class="card" style="width: 50rem; ">
            <img src="<%=arr.image.url%>" class="card-img-top" alt="..." height="250px">
            <b><div style="font-size: 1.5rem;"><%=arr.title%></div></b>
            <div class="card-body">
              <p class="card-text">
                <ul>
                <li><%=arr.title%></li>
                <li><%= arr.description%></li>
                <li>&#x20B9;<%= arr.price.toLocaleString()%></li>
                <li><%=arr.location%></li>
                <li><%=arr.country%></li></ul></p><br><br>
                <a href="/listing/<%=arr.id%>/edit" style="text-decoration: underline  !important; color: blue !important;">Edit this Listing</a><br><br>
                <form action="/listing/<%=arr.id%>?_method=DELETE" method="post">
                    <button>Delete This Listing</button>
                </form>
            </div>
          </div>
    </div>
</body>